@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/assets/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/assets/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/Karla.ttf') format('truetype');
}

h1, h2 {
    font-family: 'Hubot Sans', Consolas, monospace;
}

body {
    font-family: 'Karla', system-ui, -apple-system, Arial, Helvetica, sans-serif;
}

.card-header {
    color: white;
    background-color: oklch(70.4% 0.14 182.503);
}

.border-dashed {
    border-style: dashed;
}

.bi-bluesky {
    color: oklch(68.5% 0.169 237.323);
}

.bi-linkedin {
    color: oklch(60.9% 0.126 221.723);
}

.icon-link:hover > .bi-bluesky {
    color: oklch(58.8% 0.158 241.966);
}

.icon-link:hover > .bi-linkedin {
    color: oklch(52% 0.105 223.128);
}

h2 > .bi {
    width: 1em;
    height: 1em;
}