@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/assets/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/assets/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

h1, h2 {
    font-family: 'Hubot Sans', Consolas, monospace;
}

.border-dashed {
    border-style: dashed;
}