@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/Inter-Bold.woff2') format("woff2");
}

html {
    font-family: 'Inter', sans-serif;
}

.card-header {
    color: white;
    background-color: var(--bs-primary);
}

.border-dashed {
    border-style: dashed;
}

.bi-bluesky {
    color: oklch(68.5% 0.169 237.323);
}

.bi-linkedin {
    color: oklch(60.9% 0.126 221.723);
}

.icon-link:hover > .bi-bluesky {
    color: oklch(58.8% 0.158 241.966);
}

.icon-link:hover > .bi-linkedin {
    color: oklch(52% 0.105 223.128);
}

h2 > .bi {
    width: 1em;
    height: 1em;
}

#skills-table td, #tools-table td {
    border-style: dashed;
}