---
layout: default
---

<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img
                    src="/assets/profile-image.jpg"
                    alt="Michal Moudrý"
                    draggable="false"
                    class="rounded-t" />
                <div class="card-body">
                    <h1 class="card-title mb-0">Michal Moudrý</h1>
                </div>
                <div class="list-group list-group-flush">
                    <a
                        href="https://linkedin.com/in/michal-moudry/"
                        title="LinkedIn"
                        class="list-group-item list-group-item-action">
                        LinkedIn
                    </a>
                    <a
                        href="https://github.com/MichalMoudry"
                        title="GitHub"
                        class="list-group-item list-group-item-action">
                        GitHub
                    </a>
                    <a
                        href="https://bsky.app/profile/michalmoudry.bsky.social"
                        title="Bluesky"
                        class="list-group-item list-group-item-action">
                        Bluesky
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header text-bg-primary">
                    <h2 class="mb-0">About</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I am a software developer and occasionally a security engineer.
                        Nowadays, working mostly with C# and .NET ecosystem developing
                        web services and other types of applications. Currently, I am
                        learning C++ and Groovy.
                    </p>
                </div>
            </div>

            <div class="card mt-4">
                {% include workexperiences.html %}
            </div>

            <div class="card mt-4">
                {% include education.html %}
            </div>

            <div class="card mt-4">
                {% include skills.html %}
            </div>

            <div class="card mt-4">
                {% include osscontribs.html %}
            </div>

            <div class="card mt-4">
                <div class="card-header text-bg-primary">
                    <h2 class="mb-0">Languages</h2>
                </div>
                <div class="card-body">
                    <p class="card-title fs-5 fw-bold">English</p>
                    <p class="card-text">Full professional proficiency</p>
                    <hr class="border-dashed" />
                    <p class="card-title fs-5 fw-bold">Czech</p>
                    <p class="card-text">Native or bilingual speaker knowledge</p>
                    <hr class="border-dashed" />
                    <p class="card-title fs-5 fw-bold">German</p>
                    <p class="card-text">Elementary proficiency</p>
                </div>
            </div>
        </div>
    </div>
</div>