---
layout: default
---

<div class="card shadow-sm mt-4 mt-lg-0">
    <div class="card-header">
        <h2 class="mb-0">About</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
            I am a software developer and occasionally a security engineer.
            Nowadays, working mostly with C# and .NET ecosystem developing
            web services and other types of applications. Currently, I am
            learning C++ and Groovy.
        </p>
    </div>
</div>

<div class="card shadow-sm mt-4">
    {% include workexperiences.html %}
</div>

<div class="card shadow-sm mt-4">
    {% include education.html %}
</div>

<div class="card shadow-sm mt-4">
    {% include skills.html %}
</div>

<div class="card shadow-sm mt-4">
    {% include osscontribs.html %}
</div>

<div class="card shadow-sm mt-4">
    <div class="card-header">
        <h2 class="mb-0">Languages</h2>
    </div>
    <div class="card-body">
        <p class="card-title fs-5 fw-bold">English</p>
        <p class="card-text">Full professional proficiency</p>
        <hr class="border-dashed" />
        <p class="card-title fs-5 fw-bold">Czech</p>
        <p class="card-text">Native or bilingual speaker knowledge</p>
        <hr class="border-dashed" />
        <p class="card-title fs-5 fw-bold">German</p>
        <p class="card-text">Elementary proficiency</p>
    </div>
</div>