<div class="card-header text-bg-primary">
    <h2 class="font-monospace mb-0">Work experience</h2>
</div>
<div class="card-body">
    <h3 class="card-title fs-4">Ambie</h3>
    <p class="card-text">
        A modern Windows app that plays soothing tones to help you be
        healthier, happier, and more relaxed.
    </p>
    <a href="https://github.com/jenius-apps/ambie" class="card-link" title="Link to the project">
        Go to project page
    </a>

    <hr class="border-dashed my-4" />

    <h3 class="card-title fs-4">NUnit - docs</h3>
    <p class="card-text">.</p>
    <a href="https://github.com/nunit/docs" class="card-link" title="Link to the project">
        Go to project page
    </a>
</div>