<div class="card-header">
    <h2 class="mb-0 d-flex gap-3 align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-brightness-low-fill fs-3" viewBox="0 0 16 16">
            <path
                d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707m-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707m7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707M3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707" />
        </svg>
        Skills
    </h2>
</div>
<div class="card-body">
    <div class="row mb-2">
        <div class="col pe-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-dashed">C#</li>
                <li class="list-group-item border-dashed">Python</li>
                <li class="list-group-item border-dashed">UML</li>
                <li class="list-group-item border-dashed">EF Core</li>
                <li class="list-group-item border-dashed">Playwright</li>
            </ul>
        </div>
        <div class="col ps-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-dashed">Go</li>
                <li class="list-group-item border-dashed">F#</li>
                <li class="list-group-item border-dashed">Java</li>
                <li class="list-group-item border-dashed">ReactJS</li>
                <li class="list-group-item border-dashed">HTML & CSS</li>
            </ul>
        </div>
    </div>

    <a class="btn btn-warning w-100" role="button" href="/skills" title="Navigate to skills page">
        Go to skills page
    </a>
</div>