<div class="card-header">
    <h2 class="mb-0 d-flex gap-3 align-items-center font-monospace">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-terminal-fill fs-3" viewBox="0 0 16 16">
            <title>An icon of a command-line interface</title>
            <path
                d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1m-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5z" />
        </svg>
        Skills
    </h2>
</div>
<div class="card-body">
    <div class="row mb-2">
        <div class="col pe-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-dashed">C#</li>
                <li class="list-group-item border-dashed">Python</li>
                <li class="list-group-item border-dashed">UML</li>
                <li class="list-group-item border-dashed">EF Core</li>
                <li class="list-group-item border-dashed">Playwright</li>
            </ul>
        </div>
        <div class="col ps-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-dashed">Go</li>
                <li class="list-group-item border-dashed">Java</li>
                <li class="list-group-item border-dashed">F#</li>
                <li class="list-group-item border-dashed">ReactJS</li>
                <li class="list-group-item border-dashed">HTML & CSS</li>
            </ul>
        </div>
    </div>
    <a class="btn btn-warning w-100 d-flex gap-1 align-items-center justify-content-center" role="button" href="/skills"
        title="Navigate to skills page">
        See more
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <title>An arrow pointing right</title>
            <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
            </path>
        </svg>
    </a>
</div>