<div class="card-header">
    <h2 class="mb-0">Work experience</h2>
</div>
<div class="card-body">
    <h3 class="card-title fs-4">.NET Developer</h3>
    <h4 class="card-subtitle fs-6 mb-1 text-body-secondary">Ciklum Czech Republic & Slovakia</h4>
    <p class="card-text">Jul 2022 - <span class="badge text-bg-warning">Now</span></p>
    <p class="card-text">
        Working on a complex .NET solution as a full-stack developer.
        As part of this work, I am working on stuff ranging from implementation
        of new features, bug fixing, optimizations to security and compliance.
    </p>

    <hr class="border-dashed" />

    <h3 class="card-title fs-4">Technology Support Administrator</h3>
    <h4 class="card-subtitle fs-6 mb-1 text-body-secondary">IBM, Czech Republic</h4>
    <p class="card-text">Jun 2020 - Aug 2021</p>
    <p class="card-text">
        Worked with an ECM system and its separate system for document digitalization
        (Datacap). Part of this work included development of a COM library for
        integrating Datacap with the ECM system through a SOAP API.
    </p>

    <hr class="border-dashed" />

    <h3 class="card-title fs-4">Service Technician/Web developer</h3>
    <h4 class="card-subtitle fs-6 mb-1 text-body-secondary">Zettabyte IT, London</h4>
    <p class="card-text">Feb 2017 - Feb 2017</p>
    <p class="card-text">
        Worked in a computer repair shop, where my primary responsibility was to
        repair computers. Additionally, I contributed to their internal web application,
        that was written in PHP.
    </p>
</div>