<div class="card-header">
    <h2 class="mb-0 d-flex gap-3 align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-briefcase-fill fs-3" viewBox="0 0 16 16">
            <path
                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5">
            </path>
            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85z">
            </path>
        </svg>
        Work experience
    </h2>
</div>
<div class="card-body">
    <h3 class="card-title">.NET Developer</h3>
    <h4 class="card-subtitle fs-6 mb-1 text-body-secondary">Ciklum Czech Republic & Slovakia</h4>
    <p class="card-text">Jul 2022 - <span class="badge text-bg-warning">Now</span></p>
    <p class="card-text">
        Working on a complex .NET solution as a full-stack developer.
        As part of this work, I am working on stuff ranging from implementation
        of new features, bug fixing, optimizations to security and compliance.
    </p>

    <hr class="border-dashed" />

    <h3 class="card-title">Technology Support Administrator</h3>
    <h4 class="card-subtitle fs-6 mb-1 text-body-secondary">IBM, Czech Republic</h4>
    <p class="card-text">Jun 2020 - Aug 2021</p>
    <p class="card-text">
        Worked with an ECM system and its separate system for document digitalization
        (Datacap). Part of this work included development of a COM library for
        integrating Datacap with the ECM system through a SOAP API.
    </p>

    <hr class="border-dashed" />

    <h3 class="card-title">Service Technician</h3>
    <h4 class="card-subtitle fs-6 mb-1 text-body-secondary">Zettabyte IT, London</h4>
    <p class="card-text">Feb 2017 - Feb 2017</p>
    <p class="card-text">
        Worked in a computer repair shop, where my primary responsibility was to
        repair computers. Additionally, I contributed to their internal web application,
        that was written in PHP.
    </p>
</div>